.main{
max-width:100%;
     height:300px;
     background-color:black;
}
.text{
	font-size:36px;
	color:;
}
p.sample img {
    width:100%;
}
.fade{

  animation: fadeIn 0.2s ease 0.3s 1 normal;

}
.page_body img {
  max-width:100%;
}
